<h2 class="main_title">Todos nuestro productos</h2>
<div class="products_container">
    
</div>

<div class="create_product_container">
    <a class="create_product_buttom" href="#form_create_product">
        <p>Crear nuevo producto</p>
    </a>
</div>

<div id="form_container_edit">
    <h4 class="edit_product_title"></h4>
    <i class="fa-solid fa-xmark" id="close_form_edit"></i>

    <div class="content_form_edit">
        <label for="Category_edit">Categoria</label>
        <input type="text" id="Category_edit">

        <label for="Titulo_edit">Titulo</label>
        <input type="text" id="Titulo_edit">

        <label for="Description_edit">Descripcion</label>
        <input type="text" id="Description_edit">

        <label for="Precio_edit">Precio</label>
        <input type="text" id="Precio_edit">

        <label for="Code_edit">Codigo</label>
        <input type="text" id="Code_edit">

        <label for="Stock_edit">Stock</label>
        <input type="text" id="Stock_edit">

        <input type="submit" class="send_edit_form">
    </div>
    <p class="error_edit"></p>
</div>
<div id="form_create_product">
        <i class="fa-solid fa-xmark" id="delete_form_create"></i>
        <h3>Crea un nuevo producto</h3>
        <div class="content_form_edit">
        <label for="Category_create">Categoria</label>
        <input type="text" id="Category_create">

        <label for="Titulo_create">Titulo</label>
        <input type="text" id="Titulo_create">

        <label for="Description_create">Descripcion</label>
        <input type="text" id="Description_create">

        <label for="Precio_create">Precio</label>
        <input type="text" id="Precio_create">

        <label for="Code_create">Codigo</label>
        <input type="text" id="Code_create">

        <label for="Stock_create">Stock</label>
        <input type="text" id="Stock_create">

        <input type="submit" class="send_create_form">
    </div>
    <p class="error_create"></p>
</div>